body{
    background-image: linear-gradient(  #443d30, #e2be75, #da4a11, #e2be75, #443d30);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.branda{
    font-family: 'Mr Dafoe', cursive;
    font-size: 3vw;
    background: -webkit-linear-gradient(#c4aa9e, #2b2420);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 16px;
}

.brandb{
    font-family: 'Western\ Wonderment';
    font-size: 14vw;
    background: -webkit-linear-gradient(transparent, #5e514d, #251f1c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 10px;
    transition: ease-in-out 1s;
}


  /* ----------navbar----------- */

.bg-brown{
    background-color: #31302e;
}

.bg-gray{
 background-color: #f0efee;
}

.bg-dark{
    background-color: #31302e;
}

.bg-light{
    background-color: #dadada!important;
}

#latime:hover{
    color: #fdf6f1!important;
}

.nav-link{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    transition: ease-in-out 0.2s;
    margin-left: 10px;
}

.nav-link:hover{
    color: #fc8b40!important;
}

.dropdown-item:hover {
  background-image: linear-gradient(to right, #f3711a, rgb(247, 232, 148));
}

.btn-success{
    color: #301808;
    background-color: transparent;
    border: none;
}

.btn-success:hover{
    background-color: #fc8b40;
}

.navbar-nav li:hover>.dropdown-menu{
  display: block;
}

  /* ----------sections----------- */


.container{
    max-width: 100%;
    padding: 0;
}


@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
 }
}

@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}

@font-face{
    font-family: 'Western\ Wonderment';
    src: url("font/Western\ Wonderment.otf");
    src:
		local('Western\ Bang\ Bang'),
		local('Western\ Bang\ Bang'),
		url('font/Western\ Wonderment.otf');
		format ('opentype');
}